:root {
    --background-color_nav_header: #041C33 ;
}

body {
    font-family: sans-serif;
}
nav {
    background-color: var(--background-color_nav_header);
    
}
#imageOfNav {
    width: 30px;
    height: 30px;
}

div.container-fluid {
    padding: 0 46px;
    
}

a.navbar-brand{
    font-size: 37px;
    font-weight: 500;
    color: white;
    margin: 0 400px 0 5px;
}
a.nav-link,
a.nav-link-spe {
    font-size: 15px;
    margin: 0 8px;
    color: white;
}
a.nav-link-spe {
    text-decoration: underline;
    padding: 8px;
}
a.conversation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    text-decoration: none;
    color: white;
    background-color: #0588FF;
    border: 1px solid #0588FF;
    border-radius: 30px;
}

header {
    display: flex;
    padding-left: 46px;
    padding-right: 46px;
    background-color: #041C33;
}
div.header-right img {
    width: 500px;
}
div.header-left {
    padding-top: 100px;
}
div.name {
    border: 1px solid black;
    width: 120px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: #063661;
    color: white;
    border-radius: 3px;
}
div.uppercase {
    padding-top: 10px;
    font-size: 50px;
}
p.p1 {
    margin-bottom: 0 ;
    color: white;
}
p.p2 {
    color: #0588FF;
}
div.introduction {
    color: white;
}
div.more {
    display: flex;
    margin-top: 35px;
}
div.more i{
    font-size: xx-large;
    margin-left: 15px;
}

a.header-left__more {
    text-decoration: none;
    background-color: #0588FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    color: white;
    margin-top: 0;
}
i.fab fa-facebook,
i.fab fa-instagram-square,
i.fab fa-linkedin {
    width: 20px;
    height: 26px;
}
.py-3.py-md-4.brand-section {
    background-color: #041C33;
}
.owl-carousel.eq-height {
    display: flex;
}

section.aboutUs {
    display: flex;
    padding: 55px 46px;
    background-color: #041C33;
}

img.aboutUs-left-2 {
    width: 600px;
    height: 600px;
    padding-left: 55px;
    
}

div.aboutUs-right {
   padding-left: 40px;
}
.aboutUs-right-1 {
    border: 1px solid #063661;
    background-color: #063661;
    color: white;
    width: 80px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}
.aboutUs-right-2 {
    font-size: 50px;
    color: white;
    font-weight: 400;
}
span#p-spe {
    color: #0588FF;
}
p.aboutUs-right-3 {
    color: white;
}
.aboutUs-right-4 {
    display: flex;
    padding-top: 10px;

}
.aboutUs-right-4 div {
   border-radius: 5px;
   color: white;
   background-color: #141E2B;
   border: 1px solid black;
   margin-right: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
   
}
.aboutUs-right-4 div span{
   font-size: 40px;
}
.aboutUs-right-5 {
   margin: 30px;

}
.aboutUs-right-5 a{
   text-decoration: none;
   background-color: #0588FF;
   border: 1px solid none;
   border-radius: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   width: 150px;
   height: 30px;
   font-size: 15px;
}

section.recentProject{
    font-size: 1.4em;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 200px;
    background-color: #041C33;
    margin-bottom: 0;
}
.recentProject h1 {
    color: white;
    font-size: 40px;
}
.recentProject h5 {
    color: white;
    font-size: 20px;
}
div.bottom1 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}
div.card {
    width: 300px;
    height: 300px;
    border: 10px solid white;
    margin: 10px;
    position: relative;
    border-radius: 5px;
  }
  
div.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
div.card b{
  background-color: aliceblue;
  color:black;
  }
  
div.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
  }
div.card button{
  width: 45px;
  border-radius: 25px;
  color: aliceblue;
  justify-content: right;
  }

section.service {
    background-color: #041C33;
    margin-top: 0;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 200px;
}
div.top h5,
div.top h1 {
    color: white;
}
div.bottom {
    padding-left: 30px;
    display: flex;
}
.png {
    height: 240px;
    width: 250px;
    border-radius: 5px;
}  
.item h6,
.item p5 {
    color: white;
}
.star1,.star2,.star3,.star4 {
    color: yellow;
}


section.touch {
    padding: 200px 70px;
    display: flex;
    color: white;
    background-color: #041C33;

}
div.touch-left {
    padding-right: 30px;
}
.touch-left img {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}
p.title {
    font-size: small;
}
p.info {
    font-size: larger;
    font-weight: 500;
}
div.icon i {
    font-size: xx-large;
}
.row.g-2 {
    width: 800px;
}
#floatingInputGrid.form-control {
    background-color: #063661;
}
.p1 {
    margin-bottom: 0;
}
.myP {
    margin-bottom: 130px;
}
.form-control {
    margin: 0 50px 50px 0;
    padding: 20px;
}
